<h1>Formulário para cadastramento</h1>

<form action="/form" method="POST">
    <label> Nome</label><br>
    <input type="text" name="name"><br>
    <label> email</label><br>
    <input type="text" name="email"><br>
    <label> Mensagem</label><br>
    <textarea name="mensagem"> </textarea> <br>
    <button type="submit">Enviar</button>

</form>